* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
html,
body {
  margin: 0px;
  padding: 0px;
  background-color: rgba(92, 39, 8, 0.808);
  font-family: "Poppins", sans-serif;
  color: grey;
}

.carousel {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin-top: 26px;
  height: 720px;
  width: 1280px;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
  padding-left: 65px;
}

.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.carousel-item img {
  display: block;
  height: auto;
  max-width: 100%;
}

.carousel-control {
  background: rgba(88, 34, 2, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carousel-control.prev {
  left: 2%;
}

.carousel-control.next {
  right: 2%;
}

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin-left: 80px;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

*/ .carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.carousel-bullet {
  color: black;
  cursor: pointer;
  display: block;
  font-size: 40px;
  padding-left: -900px;
}

.carousel-bullet:hover {
  color: #aaaaaa;
  display: block;
}

#carousel-1:checked
  ~ .control-1
  ~ .carousel-indicators
  li:nth-child(1)
  .carousel-bullet,
#carousel-2:checked
  ~ .control-2
  ~ .carousel-indicators
  li:nth-child(2)
  .carousel-bullet,
#carousel-3:checked
  ~ .control-3
  ~ .carousel-indicators
  li:nth-child(3)
  .carousel-bullet {
  color: #428bca;
}

#title {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: "Open Sans", sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33),
    -1px 0px 2px rgba(255, 255, 255, 0);
}

.row text-center {
  margin-right: 50px;
  margin-left: 50px;
  padding: 10px;
}

#row1 {
  display: flex;
  margin: 20px;
  margin-left: 10%;
  margin-right: 10%;
  flex-wrap: wrap;
  align-items: center;
}

#searchbar {
  float: left;
  padding: 0px;
  border: none;
  margin-bottom: 6px;
  font-size: 17px;
  width: 30%;
}

.navbar-header {
  text-align: right;
}

.navbar-header a {
  font-weight: bold;
  font-size: larger;
  margin: 20px;
}

.navbar nav {
  text-align: right;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.brand {
  font-family: sans-serif;
}

.social {
  padding: 10px;
}

footer {
  background-color: rgb(228, 226, 226);
  height: 100px;
  border-radius: 5px;
}

.checked {
  color: green;
}

.home {
  text-align: center;
  text-decoration-color: cornflowerblue;
  font-size: 150%;
  font-family: "Poppins", sans-serif;
  padding-top: 200px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(128, 121, 121, 0.453);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* teens page*/
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close2:hover,
.close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close3 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close3:hover,
.close3:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close4 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close4:hover,
.close4:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close5 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close5:hover,
.close5:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close6 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close6:hover,
.close6:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*pre-teens page*/

.close7 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close7:hover,
.close7:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close8 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close8:hover,
.close8:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close9 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close9:hover,
.close9:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close10 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close10:hover,
.close10:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close11 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close11:hover,
.close11:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*kids page*/

.close12 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close12:hover,
.close12:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close13 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close13:hover,
.close13:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close14 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close14:hover,
.close14:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close15 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close15:hover,
.close15:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close16 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close16:hover,
.close16:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close17 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close17:hover,
.close17:focus {
  color: rgb(95, 49, 5);
  text-decoration: none;
  cursor: pointer;
}

   
.gallery {
  background-color: #082c2c;
  align-items: flex-start;
  margin: 10px;
  margin-bottom: 40px;
}

.gallery-item {
  padding: 15px;
}

.gallery-item > img {
  width: 100%;
  height: 200px;
  object-fit: fill;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

.pic1 {
  height: 100% !important;
}